<app-navbar></app-navbar>
<div class="container col-md-6 offset-md-3">
    <div class="form-area">
        <h2 style="text-align: center;">CHECKOUT</h2>
        <form (ngSubmit)="confirmord()">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" 
                [(ngModel)]="name" required placeholder="enter name here"
                name="name">
            </div>

            <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" 
                [(ngModel)]="phone" required placeholder="enter phone here"
                name="phone">
            </div>

            <div class="form-group">
                <label>Address</label>
                <textarea name="address" id="" cols="30" rows="5" [(ngModel)]="address" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-dark">Order!</button>
            </div>
        </form>
    </div>
</div>